/*

Copyright 2015 Ole Jon Bjørkum

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

*/

/* Animations */

.show_div_animation
{
	opacity: 1 !important;
	transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-moz-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-ms-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.hide_div_animation
{
	opacity: 0 !important;
	transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-moz-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-ms-transition: opacity 0.25s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.prepare_overflow_actions_animation
{
	transform: scale3d(0.75, 0.5, 1);
	-webkit-transform: scale3d(0.75, 0.5, 1);
	-moz-transform: scale3d(0.75, 0.5, 1);
	-ms-transform: scale3d(0.75, 0.5, 1);
}

.show_overflow_actions_animation
{
	opacity: 1 !important;
	transform: scale3d(1, 1, 1);
	transform-origin: 100% 0 0;
	-webkit-transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 100% 0 0;
	-moz-transform: scale3d(1, 1, 1);
	-moz-transform-origin: 100% 0 0;
	-ms-transform: scale3d(1, 1, 1);
	-ms-transform-origin: 100% 0 0;
	transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -webkit-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -moz-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -ms-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_menu_animation
{
	transform: translate3d(240px, 0, 0);
	-webkit-transform: translate3d(240px, 0, 0);
	-moz-transform: translate3d(240px, 0, 0);
	-ms-transform: translate3d(240px, 0, 0);
	transition: transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_menu_animation
{
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transition: transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_menu_img_animation
{
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_menu_img_animation
{
	transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.prepare_dialog_animation
{
	transform: scale3d(0.75, 0.75, 1);
	-webkit-transform: scale3d(0.75, 0.75, 1);
	-moz-transform: scale3d(0.75, 0.75, 1);
	-ms-transform: scale3d(0.75, 0.75, 1);
}

.show_dialog_animation
{
	opacity: 1 !important;
	transform: scale3d(1, 1, 1);
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -webkit-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -moz-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -ms-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_toast_animation
{
	opacity: 1 !important;
	transform: translate3d(0, -16px, 0);
	-webkit-transform: translate3d(0, -16px, 0);
	-moz-transform: translate3d(0, -16px, 0);
	-ms-transform: translate3d(0, -16px, 0);
	transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -webkit-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -moz-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -ms-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_toast_animation
{
	opacity: 0 !important;
	transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_black_cover_div_animation
{
	opacity: 0.5 !important;
	transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.hide_black_cover_div_animation
{
	opacity: 0 !important;
	transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.show_black_cover_activity_div_animation
{
	opacity: 0.5 !important;
	transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_black_cover_activity_div_animation
{
	opacity: 0 !important;
	transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.375s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_hide_cover_art_animation
{
	transition: height 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: height 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: height 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: height 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_nowplaying_animation
{
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_nowplaying_animation
{
	transform: translate3d(0, 0, 0) !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	-ms-transform: translate3d(0, 0, 0) !important;
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.prepare_nowplaying_cover_art_animation
{
	transform: translate3d(200%, 0, 0) scale3d(0.5, 0.5, 1);
	-webkit-transform: translate3d(200%, 0, 0) scale3d(0.5, 0.5, 1);
	-moz-transform: translate3d(200%, 0, 0) scale3d(0.5, 0.5, 1);
	-ms-transform: translate3d(200%, 0, 0) scale3d(0.5, 0.5, 1);
}

.show_nowplaying_cover_art_animation
{
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_nowplaying_cover_art_animation
{
	transform: translate3d(-100%, 0, 0) scale3d(0.5, 0.5, 1);
	-webkit-transform: translate3d(-100%, 0, 0) scale3d(0.5, 0.5, 1);
	-moz-transform: translate3d(-100%, 0, 0) scale3d(0.5, 0.5, 1);
	-ms-transform: translate3d(-100%, 0, 0) scale3d(0.5, 0.5, 1);
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.prepare_browse_card_animation
{
	transform: translate3d(0, 120px, 0);
	-webkit-transform: translate3d(0, 120px, 0);
	-moz-transform: translate3d(0, 120px, 0);
	-ms-transform: translate3d(0, 120px, 0);
}

.show_browse_card_animation
{
	opacity: 1 !important;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940), -webkit-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940), -moz-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: opacity 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940), -ms-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.show_activity_fab_animation
{
	transform: translate3d(0, -124px, 0);
	-webkit-transform: translate3d(0, -124px, 0);
	-moz-transform: translate3d(0, -124px, 0);
	-ms-transform: translate3d(0, -124px, 0);
	transition: transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: -ms-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hide_activity_fab_animation
{
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transition: transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: -ms-transform 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.show_activity_fab_bump_animation
{
	transform: translate3d(0, -184px, 0);
	-webkit-transform: translate3d(0, -184px, 0);
	-moz-transform: translate3d(0, -184px, 0);
	-ms-transform: translate3d(0, -184px, 0);
}

.prepare_cover_art_fab_animation
{
	transform: rotateZ(0) scale3d(0, 0, 1);
	-webkit-transform: rotateZ(0) scale3d(0, 0, 1);
	-moz-transform: rotateZ(0) scale3d(0, 0, 1);
	-ms-transform: rotateZ(0) scale3d(0, 0, 1);
}

.show_cover_art_fab_animation
{
	opacity: 1 !important;
	transform: rotateZ(0) scale3d(1, 1, 1);
	-webkit-transform: rotateZ(0) scale3d(1, 1, 1);
	-moz-transform: rotateZ(0) scale3d(1, 1, 1);
	-ms-transform: rotateZ(0) scale3d(1, 1, 1);
	transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -webkit-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -moz-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-ms-transition: opacity 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000), -ms-transform 0.25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.show_cover_art_fab_action_animation
{
	opacity: 0 !important;
	transform: rotateZ(720deg) scale3d(0, 0, 1);
	-webkit-transform: rotateZ(720deg) scale3d(0, 0, 1);
	-moz-transform: rotateZ(720deg) scale3d(0, 0, 1);
	-ms-transform: rotateZ(720deg) scale3d(0, 0, 1);
	transition: opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190), transform 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transition: opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190), -webkit-transform 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-moz-transition: opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190), -moz-transform 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-ms-transition: opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190), -ms-transform 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.show_import_playlist_animation
{
	opacity: 0;
	transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	transition: opacity 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940), transform 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: opacity 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940), -webkit-transform 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: opacity 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940), -moz-transform 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: opacity 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940), -ms-transform 0.375s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}