<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="net.olejon.spotcommander">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/project_name"
        android:theme="@style/app_theme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:label="@string/project_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".AddComputerActivity"
            android:label="@string/add_computer_title"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".DonateActivity"
            android:label="@string/donate_title"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".PlaylistsActivity"
            android:label="@string/playlists_title"
            android:theme="@style/transparent_theme"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".ShareActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="open.spotify.com" android:scheme="http"/>
                <data android:host="open.spotify.com" android:scheme="https"/>
                <data android:host="play.spotify.com" android:scheme="http"/>
                <data android:host="play.spotify.com" android:scheme="https"/>
                <data android:scheme="spotify"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetActivity"
            android:label="@string/widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".Widget" android:label="@string/project_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget"/>
        </receiver>

        <receiver android:name=".WidgetLarge" android:label="@string/project_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_large"/>
        </receiver>

        <service android:name=".RemoteControlService"/>
        <service android:name=".RemoteControlIntentService"/>

    </application>

</manifest>